/* service */

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
}

/* forced inheritance box-sizing: border-box for flex-elements */

html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

* {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

.content-box-component {
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
}

/* general */

body {
	margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: grey;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

/* index-page */

.index-main {
	display: flex;
	align-items: stretch;
	z-index: 1000;
}

.main-content {
	display: flex;
	padding: 1rem;
	z-index: 10;
}

.main-content a {
	border-bottom: solid #B8B8B8 0.1rem;
}

.main-content a:hover {
	border-color: #000;
}

.side-column {
	display: block;
	position: relative;
	width: 7vw;
	height: 100vh;
	background-color: #fff;
	z-index: 300;
}

.about_me {
	position: relative;
	width: 55vw;
	margin-right: 1rem;
	background-image: url("../img/Portrait_monochrome.jpg");
	background-size: 100% auto;
	background-color: black;
	background-position: 0 -40%;
	background-repeat: no-repeat;
}

.about_me p {
	position: absolute;
	bottom: 0;
	padding: 2rem;
	color: #fff;
	line-height: 2rem;
}

.about_me a {
	border-bottom: solid darkgray 0.1rem;
}

.about_me a:hover {
	border-color: #fff;
}

.greeting {
	font-size: 1.4rem;
	line-height: 4rem;
}

.portfolio {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.project-card {
	position: relative;
	width: 550px;
	height: 377px;
	margin: 0 1rem 1rem 0;
	overflow: hidden;
}

.project-info {
	position: absolute;
	top: 60%;
	left: 10%;
	padding: 1rem;
	color: rgb(72, 72, 72);
	background-color: gray;
}

.project-info h3 {
	margin: 0;
	line-height: 2rem;
}

.background-container {
	width: inherit;
	height: inherit;
	background-size: contain;
	background-clip: content-box;
	background-position: center;
}

.background-container:hover {
	cursor: pointer;
	animation-name: scale;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes scale {
	0% { transform: scale(1); }
	100% { transform: scale(1.1); }
}

/* IDs for project-cards */

#barbershop .background-container {
	background-image: url("../img/barbershop-index-1100x755.jpg");
}

#sedona .background-container {
	background-image: url("../img/sedona-index-1100x755.jpg");
}

#homeowners-association .background-container {
	background-image: url("../img/HA-index.jpg");
}

/* side navigation-menu */

.hamburger {
  position: fixed;
  top: 0.7rem;
  left: 0.7rem;
  margin: 0;
  padding: 0;
  width: 3rem;
  height: 3rem;
  font-size: 0;
  border-style: none;
  background-color: inherit;
  opacity: 0.3;
}

.hamburger:hover {
	opacity: 1;
	cursor: pointer;
}

.hamburger:focus,
.hamburger:active {
	outline: none;
}

.hamburger::-moz-focus-inner {
  border: 0;
}

.hamburger-line {
	position: absolute;
	left: 0;
	width: 100%;
	height: 10%;
	border-radius: 15%;
	background-color: #000;
}

.hamburger-line_upper {
	top: 15%;
}

.hamburger-line_middle {
	top: 45%;
}

.hamburger-line_lower {
	top: 75%;
}

@keyframes elementDown {
	0% { transform: rotate(0deg); }
	10% { transform: translateY(0%); }
	90% { transform: translateY(300%); }
	100% { transform: rotate(45deg); }
}

@1keyframes elementRotate {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(-45deg); }
}

.line-down {
	animation-name: elementDown;
	animation-fill-mode: forwards;
	animation-duration: 1s;
}

.line-rotate {
	animation-name: elementRotate;
	animation-fill-mode: forwards;
	animation-delay: 1s;
	animation-duration: 1s;
}

/* modal windows */
/*curtain */

.curtain {
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	opacity: 0.7;
	z-index: 100;
}

.modal-hide {
	left: -100%;
}

.modal-show {
	left: 0;
}

@keyframes curtain-open {
	0% { transform: translateX(0); }
	100% { transform: translateX(-100%); }
}

.curtain-open {
	animation-name: curtain-open;
  animation-duration: 0.6s;
}

@keyframes curtain-close {
	0% { transform: translateX(-100%); }
	100% { transform: translateX(0); }
}

.curtain-close {
  animation-name: curtain-close;
  animation-duration: 0.6s;
}

/* side-menu */

nav.side-menu {
	position: absolute;
	width: 34.5vw;
	height: 100vh;
	background-color: #fff;
	z-index: 200;
}

.side-menu li {
	margin-left: 6vw;
	margin-top: 50%;
	text-transform: uppercase;
	font-size: 1.7rem;
	font-weight: bolder;
	letter-spacing: 0.01rem;
	word-spacing: 0.3rem;
}

.side-menu ul:hover {
	color: #000;
}